/*╔══════════════════════════════════════════════════╗
  ║                          Alert                            ║
  ╚══════════════════════════════════════════════════╝*/

.alert {
  width: 100%;

  padding: .6rem 1rem;

  border-radius: var(--border-radius);

  font-size: var(--text-sm);

  .alert-icon {
    margin-right: 15px;

    font-size: 25px;
  }

  .alert-heading {
    margin-top: var(--space-xs-fixed);
  }

  .close {
    position: absolute;
    top: 12px;
    right: .8rem;

    font-size: var(--text-md);
  }
}
